# Flutter/Dart
.dart_tool/
.build/
build/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# IDE / Editor
.idea/
*.iml
*.vscode/
*.log

# MacOS / Linux / Windows files
*.DS_Store
*.swp
*.swo
Thumbs.db

# Generated plugin registrant
linux/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugin_registrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
